<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--     <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param> -->
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>  
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <mime-mapping>
    	<extension>ico</extension>
    	<mime-type>image/x-icon</mime-type>
    </mime-mapping>
     <error-page>
    	<error-code>401</error-code>
    	<location>/401.jsf</location>
    </error-page>
    <error-page>
    	<error-code>403</error-code>
    	<location>/403.jsf</location>
    </error-page>
     <error-page>
    	<error-code>404</error-code>
    	<location>/404.jsf</location>
    </error-page>
     <error-page>
    	<error-code>500</error-code>
    	<location>/500.jsf</location>
    </error-page>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	
    <security-constraint>
        <display-name>Administration Console</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Resource</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Protected API</web-resource-name>
            <url-pattern>/rest/signup/secured/*</url-pattern>
        </web-resource-collection>
        
        <auth-constraint>
            <role-name>ROLE_ADMINISTRATOR</role-name>
            <role-name>ROLE_VIEWER</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>other</realm-name>
    </login-config>
    <security-role>
        <role-name>ROLE_ADMINISTRATOR</role-name>
    </security-role>
    <security-role>
        <role-name>ROLE_VIEWER</role-name>
    </security-role>
</web-app>
